@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #F8FAFC;
  font-family: 'Cormorant Garamond', serif;
}
